<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR {{title}}</title>
</head>

<body>
    <header>
        <div class="main-content">
            {{>header}}
            <p> {{errorText}} </p>
        </div>
        {{>footer}}
    </header>
</body>

</html>